@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: 'Special Elite', cursive;
  margin-top: 3rem;
}

.app {
  display: flex;
  flex-direction: column;
  width: 500px;

  p {
    font-size: 1.3rem;
    word-wrap: break-word;
    width: 80%;
    opacity: .7;
  }

}


// ! Headings

.headings {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid black;
  width: 300px;
}

h1 {
  font-family: 'Special Elite', cursive;
  line-height: 0;
  font-size: 3rem;
}

h3 {
  line-height: 0;
  margin-top: -.3rem;
}

span {
  color: red;
}


// ! Card

.task-card {
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.task-label {
  display: none;
}

.input-content {
  display: flex;
  justify-content: space-between;
  width: 91%;
}

.card-content {
  display: flex;
  justify-content: space-between;
}

.delete-btn {
  padding: 1rem;
  border: none;
}

.task-content {
  word-wrap: break-word;
  width: 80%;
}

.date-container {
  padding-bottom: .2rem;
  p {
    font-size: .7rem;
    color: red;
    font-weight: bold;
  }
}

.task-list-container {
  margin-bottom: 2rem;
}

// ! Form

input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  // border: 1px solid #ccc;
  box-sizing: border-box;
  flex-grow: 1;
  border: none;
  border-bottom: 1px solid #ccc;
}

input:focus { 
  outline: none !important;
  font-family: 'Special Elite', cursive;
}

.add-btn {
  padding: 1rem ;
  border: none;
  background-color: transparent;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: 'Special Elite', cursive;
}

.input-border {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

form {
  width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}

button {
  cursor: pointer;
}

.delete-icon:hover {
  color: red;
}

.add-icon:hover {
  color: greenyellow;
}

// ! Error

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.modal-container {
  position: fixed;
  top: 30vh;
  z-index: 99999;
  overflow: hidden;
  background-color: white;
  border-radius: 10px;
  width: 500px;
}

.header {
  background-color: black;
  padding: 1rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.header h2 {
  margin: 0;
  color: white;
}

.content {
  padding: 1rem;
}

.actions {
  padding: 1rem;
  padding-top: 0;
  display: flex;
  justify-content: flex-end;
}

.error-container {
  display: flex;
  justify-content: center;
}

p.error-message {
  font-size: 1rem;
}

.modal-button {
  border: none;
  background: none;
  font-family: 'Special Elite', cursive;
  border-bottom: 1px solid black;
}

.modal-button:hover {
  display: hidden;
  background: greenyellow;
  border-bottom: none;
}


// ! Media query
@media only screen and (max-width: 540px) {
  .task-card {
    width: 89%;
  }
  .app {
    margin-left: 3rem;
  }
  .modal-container {
    width: 300px;
  }
}

@media only screen and (max-width: 480px) {
  .app {
    max-width: 80%;
    margin-left: 6rem;
  }
}

@media only screen and (max-width: 440px) {
  .app {
    max-width: 60%;
    margin-left: 9rem;
  }
}

@media only screen and (max-width: 380px) {
  .app {
    max-width: 58%;
    margin-left: 10rem;
  }
}